body {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

.upper-box {
    background-color: #1F2937;
}

.header {
    display: flex;
    
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo {
    color: white;
}

